# Other Github Repos
python_marker_based_annotation
scumi-dev
# pixi environments
.pixi/*
!.pixi/config.toml
# data
data/*
blood.tar.gz
# trained models
evaluation/models/*
models/*
training/models/*
training/results/*.pkl
# result csvs with only one line
training/results/**/result_*.csv
training/results/**/*/result_*.csv
training/results/**/wrong_*/*
# pycache
__pycache__/*
evaluation/__pycache__/*
clacell/__pycache__/*
clacell/_marker_based_annotation/__pycache__/*
training/__pycache__/*
# Latex compile files
docs/report/main.*
docs/GCB2026/Poster/poster.*
docs/GCB2026/Poster/*.bib
# Include main.tex
!docs/report/main.tex
!docs/GCB2026/Poster/poster.tex
# Don't include temporary files
docs/report/outline.md
docs/report/sample.tex
docs/report/old.tex
docs/report/CLACELL.bib
docs/papers/autoencoder_quellen.md
# checkpoints
*/.ipynb_checkpoints/*
training/results/**/.ipynb_checkpoints/*
training/results/*/*/.ipynb_checkpoints/*
*.pkl
!evaluation/pegasus_feature_importance_interleaved_marker_genes.pkl
pypi_token.md